# Dependency directories
node_modules/

# Environment
.env
.env*.local

# Uploads
uploads/
src/uploads/

# Logs / OS
*.log
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
